// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import "~nativescript-theme-core/scss/skins/forest/index";
@import "~nativescript-theme-core/scss/index";

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling
